.GridMovies {
  text-align: center;
  padding: 0 5vw 0 5vw;
}

@media only screen and (max-width: 768px) {
  .movie-poster {
    width: 15vw;
  }
}

/* .GridMovies-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.GridMovies-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.GridMovies-title {
  font-size: 1.5em;
}

.GridMovies-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */